<div class="main__row bold_text" id="main__title">
    User Info:
</div>

<div class="main__row">
    <div class="userinfo__row">Username: <%= UserInfo.name %></div>
    <div class="userinfo__row">Email: <%= UserInfo.email %></div>
    <div class="userinfo__row">User type: <%= UserInfo.type %></div>
    <div class="userinfo__row">Organization: <%= UserInfo.organization %></div>
    <div class="userinfo__row">Full name: <%= UserInfo.fullname %></div>
</div>

<div class="main__row bold_text">
    <a class="bold_text" id="logout"><u>Log out</u></a>
</div>